body {
    font-family: 'Barlow', sans-serif;
    margin: 80px auto;
    width: 1200px;
    /* background: rgb(6, 115, 118); */

}

h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 90 px;
    text-align: center;
    color: antiquewhite;
    margin-top: 20px;
}

p {
    font-family: 'Barlow', sans-serif;
}

.logo {
    width: 5%;
}

.hero-block {
    margin-top: 50px;
    border: 3px solid antiquewhite;
    background: rgb(6, 115, 118);
    height: 400px;
}

h2 {
    color: antiquewhite;
    font-size: 70 px;
    text-align: center;

}

.nav {
    width: 1200 !important
}