:root {
    --primary-color: antiquewhite;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0px auto;
    width: 1200px;
    /* background: rgb(6, 115, 118); */
    color: antiquewhite;
}

.menuItem {
    color: rgb(9, 9, 98) !important;
    width: 100px !important;
    text-align: center !important;
}

.logo {
    width: 8%;
}

.hero-block {
    background: rgb(6, 115, 118);
    height: 400px;
    padding: 25px;
    margin-top: -2px;
    display: flex;
}

.heroBordered {
    border: 3px solid antiquewhite;
    margin: 20px;
}

h1 {
    font-size: 100 px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    color: antiquewhite;
    margin-top: 40px;
    font-weight: 600;
    letter-spacing: 0.3em;
}

h2 {
    color: antiquewhite;
    font-size: 40 px;
    text-align: center;
}

.inviteText {
    margin: 40px 60px;
    text-indent: 30px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--primary-color);
}

.inviteLinks {
    color: rgb(9, 9, 98);
}

.sectionVideo {
    height: 450px;
    background: rgb(6, 115, 118);
}

.video {
    width: 600px;
    display: block;
    margin: 0px auto;
    padding-top: 30px;
}

.decorationSector {
    background: rgb(6, 115, 118);
}

.footer {
    background: #3ea516;
    height: 80px;
}

.socialMedialinks {
    margin: 0px auto;
    padding-top: 25px;
    text-align: center;
    font-size: 16px;
}

.footerLinks {
    color: rgb(9, 9, 98);
    text-decoration: none;
    padding-left: 8px;
}

.code {
    width: 450px;
    padding: 20px;
    display: block;
    margin: 20px auto;
}

.weather {
    width: 300px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primary-color);
}

.der {
    width: 300px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primary-color);

}

.crois {
    width: 330px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primary-color);

}