:root {
    --primary-color: antiquewhite;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0px auto;
    max-width: 1200px;
    /* background: rgb(6, 115, 118); */
    color: antiquewhite;
}


.menuItem {
    color: rgb(9, 9, 98) !important;
    width: 100px !important;
    text-align: center !important;
}

.logo {
    width: 8%;
}

.activePage {
    /* color: var(--primary-color) !important; */
    font-weight: 600;
}

.hero-block {
    background: rgb(6, 115, 118);
    height: 400px;
    padding: 25px;
    margin-top: -2px;

}

.heroBordered {
    border: 3px solid antiquewhite;
    margin: 20px;
}

h1 {
    font-size: 100 px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    color: antiquewhite;
    margin-top: 40px;
    font-weight: 600;
    letter-spacing: 0.3em;
}

h2 {
    color: antiquewhite;
    font-size: 40 px;
    text-align: center;
}

.inviteText {
    margin: 40px 60px;
    text-indent: 30px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--primary-color);
}

.inviteLinks {
    color: rgb(9, 9, 98);
}

.sectionVideo {
    height: 450px;
    background: rgb(6, 115, 118);
}

.contactSection {
    height: 450px;
    background: rgb(6, 115, 118);
    font-size: 20px;
}

.contactLinks {
    font-size: 30px;
    color: rgb(9, 9, 98);
    font-weight: 600;
    text-decoration: none;
    padding-left: 15px;
}

.video {
    width: 600px;
    display: block;
    margin: 0px auto;
    padding-top: 30px;
}

.decorationSector {
    background: rgb(6, 115, 118);
}

.footer {
    background: #3ea516;
    height: 90px;
}

.aboutCoded {
    font-size: 12px;
    text-align: right;
    color: rgb(9, 9, 98);
    margin-top: -20px;
    margin-right: 10px;
}

.footerMail {
    display: block;
    margin: 7px auto;
    text-align: center;
    color: rgb(9, 9, 98);
}

.socialMedialinks {
    margin: 0px auto;
    padding-top: 25px;
    text-align: center;
    font-size: 16px;
}

.footerLinks {
    color: rgb(9, 9, 98);
    text-decoration: none;
    padding-left: 8px;
}

.weather {
    width: 300px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primary-color);
}

.der {
    width: 300px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primary-color);

}

.crois {
    width: 330px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primary-color);

}

@media (max-width: 600px) {
    .video {
        width: 350px;
    }

    .hero-block {
        height: 320px;
    }

    h1 {
        font-size: 30px;
        margin-top: 25px;

    }

    h2 {
        font-size: 15px;
        margin-top: 10px;
    }

    .inviteText {
        font-size: 12px;
        text-align: center;
        /* margin: 20px 30px; */
        margin: 10px 20px;
    }

    .sectionVideo {
        height: 250px;
    }

    .heroBordered {
        margin: 10px;
    }

    .der {
        margin-top: 15px;
        width: 150px;
        padding: 5px;

    }

    .crois {
        margin-top: 15px;
        width: 150px;
        padding: 5px;

    }

    .weather {
        width: 150px;
        padding: 5px;

    }
}